<h1>Phone number deleted</h1>
<% contact = Contact.find(params[:contact_id]) %>
<p>Would you like to <a href="/contacts/<%= contact.id %>">return to <%= contact.name %>'s contact page</a>, or <a href="/contacts/<%= contact.id %>/phones/new">create a new phone number</a>?</p>
