<h1>Street Address deleted</h1>
<% contact = Contact.find(params[:contact_id]) %>
<p>Would you like to <a href="/contacts/<%= contact.id %>">return to <%= contact.name %>'s contact page</a>, or <a href="/contacts/<%= contact.id %>/addresses/new">create a new address</a>?</p>
