<h1>Street address saved!</h1>

<% contact = Contact.find(@address.contact_id) %>
<p>Your street address was successfully saved for <%=contact.name %>.</p>

<p><a href="/contacts/<%= contact.id %>">View <%= contact.name %></a></p>

<p><a href="/contacts">Return to contact listing</a></p>
