<h1>Edit Email</h1>

<% if @email.errors.any? %>
  <h3>Please fix these errors:</h3>
  <ul>
    <% @email.errors.full_messages.each do |message| %>
      <li><%= message %></li>
    <% end %>
  </ul>
<% end %>

<form action="/emails/<%= @email.id %>" method="post">
  <input name="_method" type="hidden" value="patch">
  <label for="email_email">Email Address</label>
  <input id="email_email" name="email" type="text" value="<%= @email.email %>">
  <label for="email_label"> Label </label>
  <input id="email_label" name="label" type="text" value="<%= @email.label %>">
  <input id="email_contact_id" name="contact_id" type="hidden" value="<% @email.contact_id %>">
  <button>Update Email</button>
</form>
